%button.btn.btn-default{'data-toggle'=> "collapse", 'href'=>"#footwear", 'aria-expanded'=>"false", 'aria-controls'=>"footwear"}
  Filter form
.collapse#footwear
  %form.form-inline
    .form-group
      %label User ID
      %input.form-control{type:'text', name: 'uid'}
    %input.btn.btn-default{type: 'submit'}
  %form.form-inline
    .form-group
      %label Assignment
      %select.form-control{name: 'assignment'}
        - @asses.each do |ass|
          %option{value: ass.id}= ass.name
    %input.btn.btn-default{type: 'submit'}
  %form.form-inline
    .form-group
      %label Same submissions from different students
      %input{type:'checkbox', name: 'same'}
    %input.btn.btn-default{type: 'submit'}

%table.table
  %tr
    %th #
    %th User ID
    %th Assignment
    %th Submitted at
    %th Submitted URL
    %th Grade
  - @subs.each_with_index do |sub, i|
    - if sub.finished?
      %tr{onclick: 'goToItem("'+submission_path(sub)+'");'}
        %td= i
        %td= sub.user_id
        %td= sub.assignment.name
        %td= sub.created_at.in_time_zone("Helsinki").strftime("%d.%m.%Y %H:%M")
        %td= sub.url
        %td= sub.score
    - else
      %tr
        %td= i
        %td= sub.user_id
        %td= sub.assignment.name
        %td= sub.created_at.in_time_zone("Helsinki").strftime("%d.%m.%Y %H:%M")
        %td= sub.url
        %td= sub.score

= will_paginate @subs, renderer: BootstrapPagination::Rails
