.form-group
  %label Score
  %span.help-block #{(@sub.score * 100).to_i}%
.form-group
  %label Details
  %pre.help-block= @sub.feedback
.form-group
  %label Debug text
  %pre.help-block= @sub.debug
.form-group
  %label Video
  %video#player{ playsinline: 'playsinline', controls: 'controls' }
    %source{src: "/#{@sub.user_id}_#{@sub.assignment_id}.mp4", type:"video/mp4"}
.form-group
  %label Date received
  %span.help-block= @sub.created_at