<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TddLti" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script>
      function goToItem(path) {
        document.location.href = path;
      }
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/courses">TddLti</a>
        <ul class="nav navbar-nav">
          <li><a href="/courses">My courses</a></li>
          <%- if current_user && current_user.admin? %>
            <li><a href="/submissions">Submissions list</a></li>
            <li><a href="/invites">Invites</a></li>
          <%- end%>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/account">My LTI keys</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <%= render_breadcrumbs tag: :li, separator: '' %>
        </ol>
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; LUT 2019</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
